img[src*='#center'] { 
    display: block; 
    margin: auto; 
}

img[alt$="<>"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
}
.medium {
    color: #00AB6C;
  }
  .twitter {
    color: #1DA1F2;
  }
  .facebook {
    color: #4267B2;
  }

h1 {
  color: rgb(0, 38, 255);
}

p {
  text-align: justify;
  text-justify: inter-word;
}